{{ partial "head" . }}
<body>
    
    {{ partial "off-canvas" . }}

    <div class="site-wrapper">
        {{ partial "header" . }}
        
        <section class="single-wrap">
            <article class="single-content" itemscope itemtype="//schema.org/BlogPosting">

                <div class="feat">
                    <h5 class="page-date">
                    <time datetime="" itemprop="datePublished">
                        {{ .Params.startdate | dateFormat "Monday, 2 Jan, 2006"}}
                    </time>
                    </h5>
                </div>
                <h1 class="page-title" itemprop="name headline">{{ .Title }}</h1>

                {{ with .Params.image }}<img src="/{{ . }}">{{ end }}

                <div itemprop="articleBody">
                    {{ .Content }}
                </div>
                <div class="feat share">
                    <a href="//twitter.com/share" class="popup">
                        <span class="icon-twitter"></span>
                    </a>
                </div>
                
                {{ template "_internal/disqus.html" . }}

                {{ if .NextInSection }}
                    <a rel="next" href="{{ .NextInSection.Permalink }}" id="next">
                        <span class="nav-title nav-title-next">{{ with .Site.Params.newer }}{{ . }}{{ end }}</span> &rarr;
                    </a>
                {{ end }}
                {{ if .PrevInSection }}
                    <a rel="prev" href="{{ .PrevInSection.Permalink }}" id="prev">
                        &larr; <span class="nav-title nav-title-prev">{{ with .Site.Params.older }}{{ . }}{{ end }}</span>
                    </a>
                {{ end }}
            </article>
        </section>

        {{ partial "footer" . }}
    </div>
    
    {{ partial "js" . }}
</body>
</html>
