<div class="off-canvas">
    <figure class="avatar">
        <img src="{{ .Site.BaseURL }}img/avatar.png" title="{{ with .Site.Params.name }}{{ . }}{{ end }}">
    </figure>
    <div class="bio">
        {{ with .Site.Params.offcanvas.title }}
        <h1>{{ . }}</h1>
        {{ end }}
        {{ with .Site.Params.offcanvas.bio }}
        <p>{{ . | markdownify }}</p>
        {{ end }}
    </div>
    <nav>

        {{ if .Site.Params.offcanvas.search_enabled }}

        {{ with .Site.Params.offcanvas.search }}
        <h6>{{ . }}</h6>
        {{ end }}

        <div>
            <form name="google-search" method="get" action="https://www.google.com/search" target="_blank">
                <input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}" />
                <input name="q" type="text" />
                <input type="submit" name="sa" value="Google" />
            </form>
        </div>

        {{end}}

        {{ with .Site.Params.offcanvas.subscribe }}
        <h6>{{ . }}</h6>
        {{ end }}

        <ul>
            <li><a target="_blank" href="{{ .Site.BaseURL }}index.xml">RSS feed</a></li>
        </ul>

        {{ with .Site.Params.offcanvas.followme }}
        <h6>{{ . }}</h6>
        {{ end }}

        <ul>
        {{ range .Site.Params.offcanvas.socialnetworks }}
            <li><a target="_blank" href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
        </ul>        
    </nav>
</div>
