/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background:0 0
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:700
}
dfn{
    font-style:italic
}
h1{
    font-size:2em;
    margin:.67em 0
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-.5em
}
sub{
    bottom:-.25em
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
hr{
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    height:0
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto
}
input[type=search]{
    -webkit-appearance:textfield;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    border:0;
    padding:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:700
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
.site-wrapper,.off-canvas{
    transition:all .3s ease
}
.h-wrap,.menu-icon,.off-canvas,footer{
    padding:2em
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
::after,::before{
    box-sizing:border-box
}
html{
    width:100%;
    height:100%
}
body{
    font:1.25em "Open Sans",sans-serif;
    color:#333;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    background-color:#fff
}
@media (max-width:942px){
    body{
        font-size:1.125em
    }
}
@media (max-width:642px){
    body{
        font-size:.875em
    }
}
h1,h2,h3,.h-wrap h1.title,.off-canvas .bio h1,h4,h5,h6,h5,h6{
    font-family:'Open Sans',sans-serif
}
h1{
    font-size:250%;
    margin:.5em 0
}
h2{
    font-size:180%;
    font-style:italic;
    margin:1em 0 .5em
}
h3,.h-wrap h1.title,.off-canvas .bio h1{
    font-size:150%;
    font-weight:lighter;
    margin:1.5em 0 .5em
}
h4,h5,h6{
    font-size:80%;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:3px;
    margin:3.5em 0 .5em;
    color:#999
}
h5{
    text-align:center
}
h6{
    text-align:right
}
p{
    margin:1.3em 0;
    line-height:1.6
}
small{
    font-size:60%
}
ul li{
    list-style-type:circle
}
ol li{
    list-style-type:decimal
}
a{
    color:#7b68ee
}
a:hover{
    color:#333
}
@font-face{
    font-family:icomoon;
    src:url(/fonts/icomoon.eot);
    src:url(/fonts/icomoon.eot?#iefix) format("embedded-opentype"),url(/fonts/icomoon.woff) format("woff"),url(/fonts/icomoon.ttf) format("truetype"),url(/fonts/icomoon.svg#icomoon) format("svg");
    font-weight:400;
    font-style:normal
}
.icon-twitter,.icon-github,.icon-dribbble,.icon-instagram{
    font-family:icomoon;
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased
}
.icon-twitter:before{
    content:"\e002"
}
.icon-github:before{
    content:"\e003"
}
.icon-dribbble:before{
    content:"\e004"
}
.icon-instagram:before{
    content:"\e005"
}
.highlight{
    border:1px solid #e0e1e6;
    border-radius:3px;
    padding:1em;
    background-color:#fafafa;
    font-size:80%;
    margin:2em auto;
    overflow:scroll;
    color:gray
}
code{
    font-family:Courier,monospace;
    font-size:100%;
    line-height:1.5
}
.highlight .c{
    color:#586e75
}
.highlight .err{
    color:#93a1a1
}
.highlight .g{
    color:#93a1a1
}
.highlight .k{
    color:#859900
}
.highlight .l{
    color:#93a1a1
}
.highlight .n{
    color:#93a1a1
}
.highlight .o{
    color:#859900
}
.highlight .x{
    color:#cb4b16
}
.highlight .p{
    color:#93a1a1
}
.highlight .cm{
    color:#586e75
}
.highlight .cp{
    color:#859900
}
.highlight .c1{
    color:#586e75
}
.highlight .cs{
    color:#859900
}
.highlight .gd{
    color:#2aa198
}
.highlight .ge{
    color:#93A1A1;
    font-style:italic
}
.highlight .gr{
    color:#dc322f
}
.highlight .gh{
    color:#cb4b16
}
.highlight .gi{
    color:#859900
}
.highlight .go{
    color:#93a1a1
}
.highlight .gp{
    color:#93a1a1
}
.highlight .gs{
    color:#93A1A1;
    font-weight:700
}
.highlight .gu{
    color:#cb4b16
}
.highlight .gt{
    color:#93a1a1
}
.highlight .kc{
    color:#cb4b16
}
.highlight .kd{
    color:#268bd2
}
.highlight .kn{
    color:#859900
}
.highlight .kp{
    color:#859900
}
.highlight .kr{
    color:#268bd2
}
.highlight .kt{
    color:#dc322f
}
.highlight .ld{
    color:#93a1a1
}
.highlight .m{
    color:#2aa198
}
.highlight .s{
    color:#2aa198
}
.highlight .na{
    color:#93a1a1
}
.highlight .nb{
    color:#b58900
}
.highlight .nc{
    color:#268bd2
}
.highlight .no{
    color:#cb4b16
}
.highlight .nd{
    color:#268bd2
}
.highlight .ni{
    color:#cb4b16
}
.highlight .ne{
    color:#cb4b16
}
.highlight .nf{
    color:#268bd2
}
.highlight .nl{
    color:#93a1a1
}
.highlight .nn{
    color:#93a1a1
}
.highlight .nx{
    color:#555
}
.highlight .py{
    color:#93a1a1
}
.highlight .nt{
    color:#268bd2
}
.highlight .nv{
    color:#268bd2
}
.highlight .ow{
    color:#859900
}
.highlight .w{
    color:#93a1a1
}
.highlight .mf{
    color:#2aa198
}
.highlight .mh{
    color:#2aa198
}
.highlight .mi{
    color:#2aa198
}
.highlight .mo{
    color:#2aa198
}
.highlight .sb{
    color:#586e75
}
.highlight .sc{
    color:#2aa198
}
.highlight .sd{
    color:#93a1a1
}
.highlight .s2{
    color:#2aa198
}
.highlight .se{
    color:#cb4b16
}
.highlight .sh{
    color:#93a1a1
}
.highlight .si{
    color:#2aa198
}
.highlight .sx{
    color:#2aa198
}
.highlight .sr{
    color:#dc322f
}
.highlight .s1{
    color:#2aa198
}
.highlight .ss{
    color:#2aa198
}
.highlight .bp{
    color:#268bd2
}
.highlight .vc{
    color:#268bd2
}
.highlight .vg{
    color:#268bd2
}
.highlight .vi{
    color:#268bd2
}
.highlight .il{
    color:#2aa198
}
header{
    width:100%;
    background:#fff
}
.h-wrap h1.title{
    display:inline-block;
    margin:0;
    padding:0;
    font-weight:400
}
.h-wrap h1.title a{
    color:#333;
    text-decoration:none
}
.h-wrap h1.title a:hover{
    color:#7b68ee
}
.h-wrap .close .lines{
    -webkit-transition:background .3s 0s ease;
    transition:background .3s 0s ease;
    background:0 0
}
.h-wrap .close .lines::before,.h-wrap .close .lines::after{
    top:0;
    width:30px;
    -webkit-transition:top .3s ease,transform .3s .5s ease;
    transition:top .3s ease,transform .3s .5s ease
}
.h-wrap .close .lines::before{
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    margin:0
}
.h-wrap .close .lines::after{
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    margin:0
}
.menu-icon{
    position:absolute;
    top:0;
    right:0;
    cursor:pointer;
    z-index:200
}
.menu-icon:hover{
    opacity:1
}
.menu-icon .lines{
    display:inline-block;
    position:relative;
    width:25px;
    height:2px;
    background:#333;
    border-radius:20px
}
.menu-icon .lines::before,.menu-icon .lines::after{
    content:'';
    display:inline-block;
    position:absolute;
    left:0;
    width:25px;
    height:2px;
    background:#333;
    border-radius:20px;
    transition:all .3s ease;
    -webkit-transition:all .3s ease
}
.menu-icon .lines::before{
    top:8px
}
.menu-icon .lines::after{
    top:-8px
}
.menu-icon .lines.toggled{
    background:0 0
}
.menu-icon .lines.toggled::before{
    top:0;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg)
}
.menu-icon .lines.toggled::after{
    top:0;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg)
}
.site-wrapper{
    position:absolute;
    top:0;
    right:0;
    width:100%
}
.site-wrapper.open .menu-icon{
    position:fixed
}
.off-canvas{
    position:fixed;
    top:0;
    right:-25em;
    width:25em;
    height:100%;
    background:#fafafa;
    z-index:100;
    overflow:scroll
}
@media (max-width:399px){
    .off-canvas{
        max-width:320px
    }
}
.off-canvas.toggled{
    right:0;
    border-left:1px solid #e0e1e6
}
.off-canvas .avatar{
    display:block;
    margin-bottom:1em
}
.off-canvas .avatar img{
    width:6em;
    height:6em;
    border-radius:50%
}
.off-canvas .bio{
    display:block
}
.off-canvas .bio h1{
    margin:0
}
.off-canvas .bio p{
    font-size:90%;
    color:gray;
    margin-bottom:0
}
.off-canvas nav h6{
    text-align:left;
    margin-top:2em;
    margin-bottom:1em;
    color:#b3b3b3;
    padding-bottom:.5em;
    border-bottom:1px solid #e0e1e6
}
.off-canvas nav ul li{
    list-style-type:none;
    margin-bottom:.5em
}
.off-canvas nav ul li a{
    text-decoration:none
}
footer{
    width:100%;
    bottom:0;
    left:0;
    text-align:center
}
footer small{
    text-transform:uppercase
}
.posts{
    overflow:hidden
}
.posts li{
    display:inline-block;
    width:100%;
    border-bottom:1px solid #000
}
.posts li:first-child{
    border-top:1px solid #000
}
.posts li .p-wrap{
    padding:2.5em 2em;
    background:#000;
    transition:all .15s ease-in
}
.posts li .p-wrap:active{
    background:#6f5aec
}
.posts li .p-wrap:hover{
    background: #5b4f4d;
    padding-left:3em
}
.posts li .p-wrap:hover::after{
    content:'\2192';
    margin-left:.5em
}
@media (max-width:942px){
    .posts li .p-wrap:hover::after{
        content:none;
        margin:0
    }
}
@media (max-width:942px){
    .posts li .p-wrap{
        padding:2em
    }
}
.posts li .p-wrap p{
    display:inline;
    margin:.5em 0 0
}
.posts li time{
    color: #cfd8d7;
    padding-right:1em
}
@media (max-width:942px){
    .posts li time{
        display:block
    }
}
.posts li a{
    color:#fff;
    text-decoration:none
}
.single-wrap{
    width:100%;
    max-width:740px;
    margin:1em auto;
    font-family:Lora,Georgia,serif;
    background:#fff;
    z-index:1
}
.single-wrap .single-content{
    padding:0 2em
}
@media (max-width:642px){
    .single-wrap .single-content{
        padding-bottom:3.5em
    }
}
.single-wrap .feat{
    text-align:center;
    border-bottom:1px dotted #e0e1e6;
    margin:0 auto 3.5em
}
.single-wrap .feat a.popup{
    display:inline-block;
    position:relative;
    top:.7em;
    background:#fff;
    font-size:130%;
    text-align:center;
    text-decoration:none;
    padding:0 1em;
    transition:all .2s ease;
    -webkit-transition:all .2s ease
}
@media (max-width:642px){
    .single-wrap .feat a.popup{
        font-size:150%
    }
}
.single-wrap .page-date{
    display:inline-block;
    position:relative;
    top:1.1em;
    background:#fff;
    font-family:Lora,Georgia,serif;
    font-size:85%;
    text-align:center;
    font-weight:400;
    font-style:italic;
    padding:0 1em;
    text-transform:none;
    letter-spacing:1px
}
.single-wrap .share{
    margin:3.5em auto
}
.single-wrap h1.page-title{
    font-size:180%;
    line-height:135%;
    font-family:"Open Sans",sans-serif;
    text-align:center;
    margin:0 0 2em
}
.single-wrap ul,.single-wrap ol{
    margin:2em 0
}
.single-wrap ul li,.single-wrap ol li{
    margin-bottom:.5em
}
.single-wrap blockquote{
    font-size:150%;
    font-family:"Open Sans",sans-serif;
    font-weight:lighter;
    color:#999;
    border-left:4px solid #7b68ee;
    padding-left:1em;
    margin-top:2em;
    margin-bottom:2em;
    margin-left:-3.5em;
    margin-right:0;
    line-height:165%
}
@media (max-width:942px){
    .single-wrap blockquote{
        margin-left:0
    }
}
.single-wrap blockquote p{
    padding-left:0!important;
    padding-right:0!important
}
.single-wrap img{
    width:100%;
    height:100%
}
#prev,#next{
    position:fixed;
    text-decoration:none;
    background:#fff;
    border:1px solid #e0e1e6;
    padding:.5em;
    line-height:1;
    border-radius:100px;
    bottom:2em;
    color:#333
}
@media (max-width:942px){
    #prev,#next{
        position:static;
        padding:.8em 1em .7em
    }
}
#prev{
    left:40px
}
@media (max-width:942px){
    #prev{
        float:left
    }
}
#next{
    right:40px
}
@media (max-width:942px){
    #next{
        float:right
    }
}
#prev:active,#next:active{
    border-color:#7b68ee
}
.nav-title{
    display:none
}
@media (max-width:942px){
    .nav-title{
        display:inline
    }
}
.nav-title-prev{
    margin-left:.5em;
    margin-right:.5em
}
.nav-title-next{
    margin-right:.5em;
    margin-left:.5em
}
#prev:hover .nav-title,#next:hover .nav-title{
    display:inline
}
#prev,#next{
    position:fixed;
    text-decoration:none;
    background:#fff;
    border:1px solid #eee;
    padding:10px;
    line-height:1;
    border-radius:25px;
    bottom:40px;
    color:#333
}
#prev{
    left:40px
}
#next{
    right:40px
}
#prev:active,#next:active{
    border-color:#39f
}
.nav-title{
    display:none
}
.nav-title-prev{
    margin-left:10px;
    margin-right:5px
}
.nav-title-next{
    margin-right:10px;
    margin-left:5px
}
#prev:hover .nav-title,#next:hover .nav-title{
    display:inline
}
.pagination{
    overflow:hidden;
    margin-top:40px;
    color:#ccc;
    text-align:center;
    border:1px solid #eee
}
.pagination a,.pagination span{
    box-sizing:border-box;
    float:left;
    width:50%;
    padding:20px;
    text-decoration:none
}
.pagination a:first-child,.pagination span:first-child{
    text-decoration:none;
    border-right:1px solid #eee
}
.pagination a:hover{
    text-decoration:none;
    background-color:#f5f5f5
}
